body {
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s ease;
}

.area {    
    height: 100vh;
}

.container {
    position: relative;
}

.area-click {
    height: 150px;
    cursor: pointer;
    max-width: 150px;
    transition: all .1s ease;
    color: #444;
    font-size: 4em;
}

.border-tp {
    border-top: 1px solid #000000c0;
}

.border-bt {
    border-bottom: 1px solid #000000c0;
}

.border-lf {
    border-left: 1px solid #000000c0;
}

.border-rt {
    border-right: 1px solid #000000c0;
}

.area-click:hover {
    background: #dddddd;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-resultado {
    min-height: 80px;
}

#jogador, .winner {
    font-size: 3em;
}

.winner {
    font-size: 1.5em;
}

.altura {
    max-height: 100px;
}

/* Dark-mode
----------------------------- */

body.dark {
    color: #fff;
    background: #222;
}

body.dark .border-bt, 
body.dark .border-tp, 
body.dark .border-lt ,
body.dark .border-rt {
    border-color: #ffffff5b ;
}

body.dark .area-click:hover {
    background: #dddddd25;
}

.toggle-theme {
    position: absolute;
    top: 4%;
    right: 4%;
    cursor: pointer;
    transition: all .3s ease;
    padding: 5px 10px;
    border-radius: 5px;
    background: #007bff;
}

.toggle-theme i {
    pointer-events: none;
}

.toggle-theme:hover {
    opacity: .8;
    transform: scale(1.1);
}
